<head>
    <title>Home</title>
</head>

<template name = "Home">
  <div class = "center">
    <div class =  "row">
      <section class = "fg2">
        <div class = "home-lr">
          <h2 style = "color : #FE6F5E;">最新的文章</h2>
        </div>
      </section>
      <section class = "fg8">
        <div class = "home-article">
          置顶文章
        </div>
      </section>
      <section class = "fg2">
        <div class = "home-lr">
          <h2 style = "color : #FE6F5E;">最近的访客</h2>
        </div>
      </section>
    </div>
  </div>
</template>
