<template name="Home">
    <div class="center">
        <div class="row">
            <section class="fg2">
                <div class="home-lr">
                    <h2 style="color : #FE6F5E;">最新文章</h2>
                </div>
            </section>
            <section class="fg8">
                <div class="home-article">
                    <ul>
                        <li>
                            <h2>测试</h2>
                            <article>测试</article>
                        </li>
                        <li>
                            <h2>测试</h2>
                            <article>测试</article>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="fg2">
                <div class="home-lr">
                    <h2 style="color : #FE6F5E;">最近访客</h2>
                </div>
            </section>
        </div>
    </div>
</template>
